
html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.main {
    flex: 1 0 auto;
}

.main__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #0f172a;
}

.title__emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 4px;
}

.title__emoji {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 12px;
    font-size: 14px;
    color: #64748b;
}

.figure {
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(23, 40px);
    grid-gap: 2px;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.figure__fragment {
    width: 40px;
    aspect-ratio: 1.25 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    font-weight: 500;
    color: #0f172a;
    text-align: center;
    border: 1px solid #e2e8f0;
    border-radius: 2px;
    background-color: #f1f5f9;
    position: relative;
}

.figure__fragment::after {
    content: attr(data-counter);
    z-index: 10;
}

.figure__fragment.--active {
    color: #fef2f2;
}

.figure__fragment.--hidden {
    opacity: 0;
}

.figure__fragment.--progress::before {
    content: '';
    width: var(--progress);
    height: 100%;
    display: block;
    margin-left: calc(100% - var(--progress));
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #9f1239;
    border-radius: 2px;
    background-color: #be123c;
}

.settings__button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14px;
    bottom: 14px;
    z-index: 10;
    color: #64748b;
    border: 1px solid #f1f5f9;
    border-radius: 10rem;
    background-color: #f8fafc;
}

@media screen and (max-width: 1024px) {
    .figure {
        grid-template-columns: repeat(23, 3.8vw);
    }
    .figure__fragment {
        width: 3.8vw;
        font-size: 30%;
    }
}
